.p-0 { padding: 0px; }
.px-0 { padding-left: 0px; }
.py-0 { padding-top: 0px; }
.ps-0 { padding-inline-start: 0px; }
.pe-0 { padding-inline-end: 0px; }
.pt-0 { padding-top: 0px; }
.pr-0 { padding-right: 0px; }
.pb-0 { padding-bottom: 0px; }
.pl-0 { padding-left: 0px; }
.p-px { padding: 1px; }
.px-px { padding-left: 1px; }
.py-px { padding-top: 1px; }
.ps-px { padding-inline-start: 1px; }
.pe-px { padding-inline-end: 1px; }
.pt-px { padding-top: 1px; }
.pr-px { padding-right: 1px; }
.pb-px { padding-bottom: 1px; }
.pl-px { padding-left: 1px; }
.p-1 { padding: 0.25rem;  }
.px-1 { padding-left: 0.25rem;  }
.py-1 { padding-top: 0.25rem;  }
.ps-1 { padding-inline-start: 0.25rem;  }
.pe-1 { padding-inline-end: 0.25rem;  }
.pt-1 { padding-top: 0.25rem;  }
.pr-1 { padding-right: 0.25rem;  }
.pb-1 { padding-bottom: 0.25rem;  }
.pl-1 { padding-left: 0.25rem;  }
.p-2 { padding: 0.5rem;  }
.px-2 { padding-left: 0.5rem;  }
.py-2 { padding-top: 0.5rem;  }
.ps-2 { padding-inline-start: 0.5rem;  }
.pe-2 { padding-inline-end: 0.5rem;  }
.pt-2 { padding-top: 0.5rem;  }
.pr-2 { padding-right: 0.5rem;  }
.pb-2 { padding-bottom: 0.5rem;  }
.pl-2 { padding-left: 0.5rem;  }
.p-3 { padding: 0.75rem;  }
.px-3 { padding-left: 0.75rem;  }
.py-3 { padding-top: 0.75rem;  }
.ps-3 { padding-inline-start: 0.75rem;  }
.pe-3 { padding-inline-end: 0.75rem;  }
.pt-3 { padding-top: 0.75rem;  }
.pr-3 { padding-right: 0.75rem;  }
.pb-3 { padding-bottom: 0.75rem;  }
.pl-3 { padding-left: 0.75rem;  }
.p-4 { padding: 1rem;  }
.px-4 { padding-left: 1rem;  }
.py-4 { padding-top: 1rem;  }
.ps-4 { padding-inline-start: 1rem;  }
.pe-4 { padding-inline-end: 1rem;  }
.pt-4 { padding-top: 1rem;  }
.pr-4 { padding-right: 1rem;  }
.pb-4 { padding-bottom: 1rem;  }
.pl-4 { padding-left: 1rem;  }
.p-5 { padding: 1.25rem;  }
.px-5 { padding-left: 1.25rem;  }
.py-5 { padding-top: 1.25rem;  }
.ps-5 { padding-inline-start: 1.25rem;  }
.pe-5 { padding-inline-end: 1.25rem;  }
.pt-5 { padding-top: 1.25rem;  }
.pr-5 { padding-right: 1.25rem;  }
.pb-5 { padding-bottom: 1.25rem;  }
.pl-5 { padding-left: 1.25rem;  }
.p-6 { padding: 1.5rem;  }
.px-6 { padding-left: 1.5rem;  }
.py-6 { padding-top: 1.5rem;  }
.ps-6 { padding-inline-start: 1.5rem;  }
.pe-6 { padding-inline-end: 1.5rem;  }
.pt-6 { padding-top: 1.5rem;  }
.pr-6 { padding-right: 1.5rem;  }
.pb-6 { padding-bottom: 1.5rem;  }
.pl-6 { padding-left: 1.5rem;  }
.p-7 { padding: 1.75rem;  }
.px-7 { padding-left: 1.75rem;  }
.py-7 { padding-top: 1.75rem;  }
.ps-7 { padding-inline-start: 1.75rem;  }
.pe-7 { padding-inline-end: 1.75rem;  }
.pt-7 { padding-top: 1.75rem;  }
.pr-7 { padding-right: 1.75rem;  }
.pb-7 { padding-bottom: 1.75rem;  }
.pl-7 { padding-left: 1.75rem;  }
.p-8 { padding: 2rem;  }
.px-8 { padding-left: 2rem;  }
.py-8 { padding-top: 2rem;  }
.ps-8 { padding-inline-start: 2rem;  }
.pe-8 { padding-inline-end: 2rem;  }
.pt-8 { padding-top: 2rem;  }
.pr-8 { padding-right: 2rem;  }
.pb-8 { padding-bottom: 2rem;  }
.pl-8 { padding-left: 2rem;  }
.p-9 { padding: 2.25rem;  }
.px-9 { padding-left: 2.25rem;  }
.py-9 { padding-top: 2.25rem;  }
.ps-9 { padding-inline-start: 2.25rem;  }
.pe-9 { padding-inline-end: 2.25rem;  }
.pt-9 { padding-top: 2.25rem;  }
.pr-9 { padding-right: 2.25rem;  }
.pb-9 { padding-bottom: 2.25rem;  }
.pl-9 { padding-left: 2.25rem;  }
.p-10 { padding: 2.5rem;  }
.px-10 { padding-left: 2.5rem;  }
.py-10 { padding-top: 2.5rem;  }
.ps-10 { padding-inline-start: 2.5rem;  }
.pe-10 { padding-inline-end: 2.5rem;  }
.pt-10 { padding-top: 2.5rem;  }
.pr-10 { padding-right: 2.5rem;  }
.pb-10 { padding-bottom: 2.5rem;  }
.pl-10 { padding-left: 2.5rem;  }
.p-11 { padding: 2.75rem;  }
.px-11 { padding-left: 2.75rem;  }
.py-11 { padding-top: 2.75rem;  }
.ps-11 { padding-inline-start: 2.75rem;  }
.pe-11 { padding-inline-end: 2.75rem;  }
.pt-11 { padding-top: 2.75rem;  }
.pr-11 { padding-right: 2.75rem;  }
.pb-11 { padding-bottom: 2.75rem;  }
.pl-11 { padding-left: 2.75rem;  }
.p-12 { padding: 3rem;  }
.px-12 { padding-left: 3rem;  }
.py-12 { padding-top: 3rem;  }
.ps-12 { padding-inline-start: 3rem;  }
.pe-12 { padding-inline-end: 3rem;  }
.pt-12 { padding-top: 3rem;  }
.pr-12 { padding-right: 3rem;  }
.pb-12 { padding-bottom: 3rem;  }
.pl-12 { padding-left: 3rem;  }
.p-14 { padding: 3.5rem;  }
.px-14 { padding-left: 3.5rem;  }
.py-14 { padding-top: 3.5rem;  }
.ps-14 { padding-inline-start: 3.5rem;  }
.pe-14 { padding-inline-end: 3.5rem;  }
.pt-14 { padding-top: 3.5rem;  }
.pr-14 { padding-right: 3.5rem;  }
.pb-14 { padding-bottom: 3.5rem;  }
.pl-14 { padding-left: 3.5rem;  }
.p-16 { padding: 4rem;  }
.px-16 { padding-left: 4rem;  }
.py-16 { padding-top: 4rem;  }
.ps-16 { padding-inline-start: 4rem;  }
.pe-16 { padding-inline-end: 4rem;  }
.pt-16 { padding-top: 4rem;  }
.pr-16 { padding-right: 4rem;  }
.pb-16 { padding-bottom: 4rem;  }
.pl-16 { padding-left: 4rem;  }
.p-20 { padding: 5rem;  }
.px-20 { padding-left: 5rem;  }
.py-20 { padding-top: 5rem;  }
.ps-20 { padding-inline-start: 5rem;  }
.pe-20 { padding-inline-end: 5rem;  }
.pt-20 { padding-top: 5rem;  }
.pr-20 { padding-right: 5rem;  }
.pb-20 { padding-bottom: 5rem;  }
.pl-20 { padding-left: 5rem;  }
.p-24 { padding: 6rem;  }
.px-24 { padding-left: 6rem;  }
.py-24 { padding-top: 6rem;  }
.ps-24 { padding-inline-start: 6rem;  }
.pe-24 { padding-inline-end: 6rem;  }
.pt-24 { padding-top: 6rem;  }
.pr-24 { padding-right: 6rem;  }
.pb-24 { padding-bottom: 6rem;  }
.pl-24 { padding-left: 6rem;  }
.p-28 { padding: 7rem;  }
.px-28 { padding-left: 7rem;  }
.py-28 { padding-top: 7rem;  }
.ps-28 { padding-inline-start: 7rem;  }
.pe-28 { padding-inline-end: 7rem;  }
.pt-28 { padding-top: 7rem;  }
.pr-28 { padding-right: 7rem;  }
.pb-28 { padding-bottom: 7rem;  }
.pl-28 { padding-left: 7rem;  }
.p-32 { padding: 8rem;  }
.px-32 { padding-left: 8rem;  }
.py-32 { padding-top: 8rem;  }
.ps-32 { padding-inline-start: 8rem;  }
.pe-32 { padding-inline-end: 8rem;  }
.pt-32 { padding-top: 8rem;  }
.pr-32 { padding-right: 8rem;  }
.pb-32 { padding-bottom: 8rem;  }
.pl-32 { padding-left: 8rem;  }
.p-36 { padding: 9rem;  }
.px-36 { padding-left: 9rem;  }
.py-36 { padding-top: 9rem;  }
.ps-36 { padding-inline-start: 9rem;  }
.pe-36 { padding-inline-end: 9rem;  }
.pt-36 { padding-top: 9rem;  }
.pr-36 { padding-right: 9rem;  }
.pb-36 { padding-bottom: 9rem;  }
.pl-36 { padding-left: 9rem;  }
.p-40 { padding: 10rem;  }
.px-40 { padding-left: 10rem;  }
.py-40 { padding-top: 10rem;  }
.ps-40 { padding-inline-start: 10rem;  }
.pe-40 { padding-inline-end: 10rem;  }
.pt-40 { padding-top: 10rem;  }
.pr-40 { padding-right: 10rem;  }
.pb-40 { padding-bottom: 10rem;  }
.pl-40 { padding-left: 10rem;  }
.p-44 { padding: 11rem;  }
.px-44 { padding-left: 11rem;  }
.py-44 { padding-top: 11rem;  }
.ps-44 { padding-inline-start: 11rem;  }
.pe-44 { padding-inline-end: 11rem;  }
.pt-44 { padding-top: 11rem;  }
.pr-44 { padding-right: 11rem;  }
.pb-44 { padding-bottom: 11rem;  }
.pl-44 { padding-left: 11rem;  }
.p-48 { padding: 12rem;  }
.px-48 { padding-left: 12rem;  }
.py-48 { padding-top: 12rem;  }
.ps-48 { padding-inline-start: 12rem;  }
.pe-48 { padding-inline-end: 12rem;  }
.pt-48 { padding-top: 12rem;  }
.pr-48 { padding-right: 12rem;  }
.pb-48 { padding-bottom: 12rem;  }
.pl-48 { padding-left: 12rem;  }
.p-52 { padding: 13rem;  }
.px-52 { padding-left: 13rem;  }
.py-52 { padding-top: 13rem;  }
.ps-52 { padding-inline-start: 13rem;  }
.pe-52 { padding-inline-end: 13rem;  }
.pt-52 { padding-top: 13rem;  }
.pr-52 { padding-right: 13rem;  }
.pb-52 { padding-bottom: 13rem;  }
.pl-52 { padding-left: 13rem;  }
.p-56 { padding: 14rem;  }
.px-56 { padding-left: 14rem;  }
.py-56 { padding-top: 14rem;  }
.ps-56 { padding-inline-start: 14rem;  }
.pe-56 { padding-inline-end: 14rem;  }
.pt-56 { padding-top: 14rem;  }
.pr-56 { padding-right: 14rem;  }
.pb-56 { padding-bottom: 14rem;  }
.pl-56 { padding-left: 14rem;  }
.p-60 { padding: 15rem;  }
.px-60 { padding-left: 15rem;  }
.py-60 { padding-top: 15rem;  }
.ps-60 { padding-inline-start: 15rem;  }
.pe-60 { padding-inline-end: 15rem;  }
.pt-60 { padding-top: 15rem;  }
.pr-60 { padding-right: 15rem;  }
.pb-60 { padding-bottom: 15rem;  }
.pl-60 { padding-left: 15rem;  }
.p-64 { padding: 16rem;  }
.px-64 { padding-left: 16rem;  }
.py-64 { padding-top: 16rem;  }
.ps-64 { padding-inline-start: 16rem;  }
.pe-64 { padding-inline-end: 16rem;  }
.pt-64 { padding-top: 16rem;  }
.pr-64 { padding-right: 16rem;  }
.pb-64 { padding-bottom: 16rem;  }
.pl-64 { padding-left: 16rem;  }
.p-72 { padding: 18rem;  }
.px-72 { padding-left: 18rem;  }
.py-72 { padding-top: 18rem;  }
.ps-72 { padding-inline-start: 18rem;  }
.pe-72 { padding-inline-end: 18rem;  }
.pt-72 { padding-top: 18rem;  }
.pr-72 { padding-right: 18rem;  }
.pb-72 { padding-bottom: 18rem;  }
.pl-72 { padding-left: 18rem;  }
.p-80 { padding: 20rem;  }
.px-80 { padding-left: 20rem;  }
.py-80 { padding-top: 20rem;  }
.ps-80 { padding-inline-start: 20rem;  }
.pe-80 { padding-inline-end: 20rem;  }
.pt-80 { padding-top: 20rem;  }
.pr-80 { padding-right: 20rem;  }
.pb-80 { padding-bottom: 20rem;  }
.pl-80 { padding-left: 20rem;  }
.p-96 { padding: 24rem;  }
.px-96 { padding-left: 24rem;  }
.py-96 { padding-top: 24rem;  }
.ps-96 { padding-inline-start: 24rem;  }
.pe-96 { padding-inline-end: 24rem;  }
.pt-96 { padding-top: 24rem;  }
.pr-96 { padding-right: 24rem;  }
.pb-96 { padding-bottom: 24rem;  }
.pl-96 { padding-left: 24rem;  }
