.gap-0 {
    gap: 0px;
}

.gap-x-0 {
    column-gap: 0px;
}

.gap-y-0 {
    row-gap: 0px;
}

.gap-px {
    gap: 1px;
}

.gap-x-px {
    column-gap: 1px;
}

.gap-y-px {
    row-gap: 1px;
}

.gap-0\.5 {
    gap: 0.125rem;
}

.gap-x-0\.5 {
    column-gap: 0.125rem;
}